@font-face {
   font-family: 'Reem Kufi';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Admin/Documents/GitHub/korczak/fonts/Reem Kufi/regular.ttf') format('truetype');
}
